:root {
  --overall-bg-color: #1e1e1e;
  --compenent-bg-color: rgb(40, 40, 40);
  --tool-bg-color: rgb(60, 60, 60);
  --font-color: #dcdcdc;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #1e1e1e;
}

.all-container {
  position: absolute;
  width: 1880px;
  height: 1080px;
}

.loading-container {
  float: left;
  width: 1920px;
  height: 1080px;
  background-color: rgba(30, 30, 30, 0.5);
  position: relative;
}

.loading-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading-container p{
  margin-top: 440px;
  text-align: center;
  color: var(--font-color);
}

.side-container {
  display: inline-block;
  float: left;
  width: 800px;
  height: 1080px;
  margin-right: 20px;
  overflow: hidden;
}

.paramultiples-and-tools-container {
  height: 300px;
  background-color: var(--compenent-bg-color);
  border: 2px solid var(--tool-bg-color);
  margin-bottom: 10px;
}

.paramultiples-container {
  position: absolute;
}

.paramultiples-tools {
  position: relative;
}

.scope-tools {
  background-color: var(--tool-bg-color);
  margin-bottom: 10px;
  border: 2px solid var(--tool-bg-color);
}

.temp-and-minimap-container {
  height: 730px;
  background-color: var(--compenent-bg-color);
  border: 2px solid var(--tool-bg-color);
}

.tempmap-container {
  float: left;
  position: absolute;
  height: 700px;
  width: 800px;
  overflow: hidden;
}

.minimap-container {
  float: left;
  position: relative;
  height: 700px;
}

.tempmap-tools {
  height: 40px;
  position: relative;
  background-color: var(--tool-bg-color);
}

.main-container {
  display: inline-block;
  width: 1060px;
  height: 1080px; /*changeback 880*/
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

.undo-container {
  overflow: hidden; /* if you don't want #second to wrap below #first */
  background-color: var(--compenent-bg-color);
  margin-bottom: 10px;
  border: 2px solid var(--tool-bg-color);
}

.barcharts-and-tools-container {
  background-color: var(--compenent-bg-color);
  border: 2px solid var(--tool-bg-color);
}

.barcharts-tools {
  height: 40px;
  background-color: var(--tool-bg-color);
}

.barcharts-container {
  padding-left: 10px;
  padding-top: 10px;
}

.matchtree-and-tools-container {
  height: 1020px;
  background-color: var(--compenent-bg-color);
  border: 2px solid var(--tool-bg-color);
}

.matchtree-tools {
  height: 40px;
  background-color: var(--tool-bg-color);
}

button:active {
  background-color: gray;
  color: WhiteSmoke;
}

select {
  margin-left: 2px;
  margin-right: 2px;
}

label {
  color: rgb(220,220,220);
}

.tools-container {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--tool-bg-color);
}

.interactionmode-container {
  display: inline;
  float: left;
}

.help-button {
  border-radius: 50%;
  background-color: khaki;
  float: right;
  font-weight: bold;
}

.tool-button {
  margin-left: 2px;
  margin-right: 2px;
}

.radio-input {
  margin-left: 15px;
}

.title {
  font-size: 150%;
}

.label-header {
  font-weight: bold;
}

#tempmap-tools-lineappearance-container {
  margin-left: 20px;
}

#tempmap-extraoptions-container {
  float: right;
  margin-right: 30px;
}

#barcharts-extraoptions-container {
  float: left;
  margin-left: 10%;
}

#tempmap-tools-hidelabels-container {
  margin-left: 20px;
}

#undo-label-container {
  margin-left: 52px;
}

#export-data-button {
  margin-right: 30px;
  float: right;
}

#barcharts-reorder-button {
  margin-left: 20px;
}

#matchtree-filter-button {
  display: none
}
